<!DOCTYPE html>
<html>
    <head>
        <style>
            .add_button {
                border: 1px solid;
                border-color: #6B6E70;
                color: #6B6E70;
                font-size: 16px;
                border-radius: 3px;
                background-color: transparent;
            }
            .add_button:hover {
                background-color: #474B4F;
            }
        </style>
    </head>
    <body style="background-color: #222629;">
        <button class="add_button">+</button>
    </body>
</html>